[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CoinMinD"]
	path = CoinMinD
	url = https://github.com/cran/CoinMinD
[submodule "RAP"]
	path = RAP
	url = https://github.com/cran/RAP
[submodule "nose"]
	path = nose
	url = https://github.com/cran/nose
